<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.softwaresolution.ilearnclient">

    <uses-permission
        android:name="android.permission.INTERNET"
        android:maxSdkVersion="28" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginForm">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainBottom"
            android:label="@string/app_name" />
        <activity
            android:name=".Activity.SubTopic"
            android:label="Select subtopic" />
        <activity
            android:name=".SignUp"
            android:label="Sign Up" />
        <activity
            android:name=".Activity.Quiz"
            android:label="Quiz" />
        <activity
            android:name=".Note.NoteText"
            android:label="Note" />
        <activity
            android:name=".Activity.PreviewResult"
            android:label="Preview result" />
        <activity
            android:name=".Note.TeacherRemText"
            android:label="Reminder" />
    </application>

</manifest>